@charset 'utf-8'; 

@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InfinitySans-BoldA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#content{
    
}
#section0{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(../images/sub1.png);
    background-repeat: no-repeat;
}
#section0 h1, #section0 h3{
    font-family: 'InfinitySans-RegularA1';
    color: white;
    position: relative;
    top: 40%;
    _top: 490px;
    width: 1200px;
    margin: 0 auto;
    text-align:left;
}
#section0 h1{
    font-size: 48px;
}
#section0 h1 span{
    color: #1f74ec;
}
#section0 h3{
    margin-top: 50px;
    font-size: 24px;
}
.p1{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    height: 250px;
    padding-top: 180px;
    text-align: center;
}
#section1{
    width: 100%;
    height: 719px;
    background-size: cover;
    background-image: url(../images/sub1_section1.png);
    background-repeat: no-repeat;
}
#section1 h1, #section1 p{
    text-align: center;
    font-family: 'InfinitySans-RegularA1';
    color: white;
}
#section1 h1{
    padding-top: 200px;
    font-size: 60px;
}
#section1 .txt1{
    margin-top: 100px;
    font-size: 30px;
}
#section1 .txt2{
    margin-top: 10px;
    font-size: 30px;
}
#section2{
    width: 100%;
    height: 719px;
    background-size: cover;
    background-image: url(../images/sub1_section2.png);
    background-repeat: no-repeat;
}
#section2 h1, #section2 p{
    text-align: center;
    font-family: 'InfinitySans-RegularA1';
    color: white;
}
#section2 h1{
    padding-top: 150px;
    font-size: 60px;
}
#section2 .txt1{
    margin-top: 100px;
    font-size: 30px;
}
#section2 .txt2{
    margin-top: 10px;
    font-size: 30px;
}